* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

/* Navbar */

nav {
    display: flex;
    background-color: #24252a;
    justify-content: space-around;
    padding: 20px 0px;
    color: lightgray;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Viga', cursive;
    letter-spacing: 3px;
    font-size: 1.8rem;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    transition: all 1s;
   
    
}

nav ul li a{
    color: lightgray;
    text-decoration: none;
    font-size: 0.8em;
}
nav ul li a:hover{
    color: rgb(0, 136, 169, 1);
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 136, 169, 1);
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 136, 169, 0.7)
}
/* Hamburger */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightgray;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input{
    position: absolute;
    width: 31px;
    left: -2px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: rgb(0, 136, 169, 1) ;
}

.menu-toggle input:checked ~ span:last-child{
    transform: rotate(-45deg)translate(-1px, 0px);
    background-color: rgb(0, 136, 169, 1) ;
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

nav ul.slide {
    transform: translateX(0);
    opacity: 1;
}


/* Responsve breakpoint */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    nav ul {
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: #24252a;
        top: 0;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        width: 70%;
        transform: translateX(100%);
        opacity: 0;
    }

    .menu-toggle {
        display: flex;
    }

    button {
        color: white;
        padding: 10px 20px;
        border: none;
        background-color:  #24252a;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(0, 136, 169, 0.7)
    }
}